body {
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
* {
	box-sizing: border-box;
}

main, header {
	pre {
		white-space: pre-wrap;
	}
	button {
		background: transparent;
		border: none;
		cursor: pointer;
		outline: none;
	}
	a {
		color: initial;
		text-decoration: initial;
		text-align: center;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	h2 {
		text-align: center;
	}

	.btn {
		padding: 5px 10px;
		border: 1px solid #e2e2e2;
		color: #fafafa;
		border-radius: 6px;
		font-size: 1.2em;
		margin: 1em; 
	}
	.btn:hover {
		filter: brightness(1.03);
	}
	.btn.active {
		background: #f5f5f5;
		color: #c66;
	}
}
.error {
	color: #da2626;
}