.logo {
	display: flex;
	align-items: center;

	&::before {
		content: "💧";
		filter: hue-rotate(170deg);
		transition: filter .8s linear;
	}

	&.large::before {
		font-size: 250%;
	}
	&.large {
		user-select: none;
	}
	&.large::after {
		content: "Blood\ASave";
		white-space: pre;
		color: #111;
		font-size: 200%;
		padding-left: 10px;
	}
}