<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
	<title><%= htmlWebpackPlugin.options.title %></title>
	<link rel="stylesheet" type="text/css" href="leaflet.css">
	<link rel="stylesheet" type="text/css" href="esri-leaflet-geocoder.css">
<style>

</style>
</head>
<body class="loading">
	<div id="root"></div>
	<div class="bg">
		<span class="logo large"></span>
	</div>
</body>
</html>