@import '../style/global';
@import '../style/logo';

.bg {
	position: absolute;
	z-index: -1;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	transition: z-index .8s linear;
}
body.loading .bg {
	z-index: 11;
}
body.loading .logo.large::before {
	animation: loader 5s linear infinite;
}
@keyframes loader {
	0% {
		filter: hue-rotate(170deg);
	}
	50% {
		filter: hue-rotate(170deg) brightness(1.5);
	}
	100% {
		filter: hue-rotate(170deg);
	}
}

#map {
	position: absolute !important;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.leaflet-top.leaflet-left {
	margin-top: 4.2em;;
}

.donor-popup {
	max-width: 800px;
	font-size: 120%;

	> .address {
		font-size: 95%;
		margin-bottom: 15px;
		text-align: center;
	}

	> div {
		display: flex;
		align-items: center;
		margin: .5rem;
	}

	> div > :first-child {
		min-width: 50px;
		text-align: right;
		margin-right: 10px;
	}

	> div > :first-child ~ * {
		flex: 1;
	}

	input[type=radio] {
		position: absolute;
		opacity: 0;
	}
	input[type=radio]:checked + label {
		background-color: #d07064;
		border-color: #b98c81;
	}

	input[type=radio] + label {
		background-color: #eee;
		border: 1px solid #d5d5d5;
		border-radius: 3px;
		height: 1.8em;
		display: flex;
		align-items:center;
		justify-content: center;
		cursor: pointer;
		user-select: none;
	}
	input[type=radio] + label ~ label {
		margin-left: 5px;
	}
	input[type=text],
	input[type=email],
	input[type=tel] {
		height: 2em;
		border-radius: 3px;
		border: 1px solid #d5d5d5;
		padding: 0 5px;
		min-width: 50px;
	}

	input[type=submit] {
		border: 1px solid #d5d5d5;
		border-radius: 3px;
		height: 2em;
		display: flex;
		align-items:center;
		justify-content: center;
		cursor: pointer;
		font-size: initial;
		margin: 2em auto 0
	}
}

.donor {
	font-size: 120%;

	> div {
		display: flex;
		align-items: center;
	}
	> .address {
		font-size: 95%;
		margin-bottom: 10px;
	}
	> div > :first-child {
		width: 80px;
		text-align: right;
		margin-right: 10px;
	}
}
