@import '../style/global';
@import '../style/logo';

main {
	margin: 5em auto;
	max-width: 500px;
	border: 2px solid #eee;
	border-radius: 10px;
	padding: 10px 20px 20px;
	font-size: 1.2em;	
}
header {
	background: rgba(0,0,0,.5);
	height: 3.2em;
	display: flex;
	align-items: center;

	> h2 {
		margin: 0 auto;
	}
	a {
		color: #fafafa;
	}
}
h3 {
	text-align: center;
}

input[type=text],
input[type=email],
input[type=tel] {
	height: 1.4em;
	border-radius: 3px;
	border: 1px solid #d5d5d5;
	padding: 0 5px;
	min-width: 50px;
	font-size: 1em;
}

select {
	background: transparent;
	outline: none;
	color: #444;
	height: 1.4em;
	border-radius: 3px;
	border: 1px solid #d5d5d5;
	font-size: 1em;
	transition: all 50ms ease-in;
}

input[type=submit],
[type=button] {
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	height: 2em;
	cursor: pointer;
	font-size: initial;
	width: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.delete {
	border: 1px solid #c66;
	color: #e33;
}

.submission {
	position: relative;

	> div {
		display: flex;
		align-items: center;
		line-height: 1.8em;
	}

	> div > span:first-child,
	> div > label:first-child {
		display: inline-block;
		width: 100px;
		text-align: right;
		margin-right: 25px;
	}

	> div > span:first-child ~ *,
	> div > label:first-child ~ * {
		flex: 1;
	}

	.footer {
		margin: 2em auto 1em;
		justify-content: space-around;
	}

	.next, .prev {
		position: absolute;
		top: 9em;
		color: rgba(15,15,15,.9);
		transform-origin: 10% 50%;
		line-height: 0;
		transition: color .2s ease-in-out;
	}
	.next {
		right: -6em;
	}
	.prev {
		left: -2em;
		transform: scale(-1, 1);
	}
	.prev:hover, .next:hover {
		color: rgba(150,15,15,.9)
	}
	.next::before {
		content: "〉";
		font-size: 4em;
	}
	.prev::before {
		content: "〉";
		font-size: 4em;
	}
	p {
		font-size: 90%;
		margin: 0;
		line-height: 1.6em;
	}
}